version: '3'
services:
  nginx:
    image: nginx:latest
    ports:
      - 8080:80
    volumes:
      - ./infrastructure/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/var/www/
    working_dir: /var/www/
    depends_on:
      - php
  php:
    build: ./infrastructure/php
    volumes:
      - ./:/var/www/
    working_dir: /var/www/
    links:
      - postgres
    depends_on:
      - postgres
  postgres:
    image: postgres:11-alpine
    restart: always
    ports:
      - 65432:5432
    volumes:
      - ./infrastructure/postgres/data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tellad
      TZ: 'Asia/Tokyo'
    
